

@import '../variables.scss';



.root {

  margin: 40px 40px;
  padding: 20px 0;

  max-width: $max-content-width;

  position: relative;
  display: inline-block;

  @media (min-width: $max-content-break) {
    margin: 40px 60px;
    margin: 0 auto;
    display: block;
  }

  @media print {
    padding: 0;
    margin: 20px 20px;
  }

}


.content {

  margin: 40px 0;

  font-size: 1.3em;
  line-height: 1.8em;

  @media (min-width: $max-content-break) {
    margin: 40px 200px 40px 0;
    font-size: 1.4em;
    line-height: 2em;
  }


  @media print {
    margin: 20px 0;

    font-size: 1.2em;
    line-height: 1.6em;
  }

}

.blue {
  color: $blue;
}

