

@import './variables.scss';



.root {
  margin: 0 12px;
  padding: 20px 0;
  max-width: $max-content-width;

  @media (min-width: $screen-xs-min) {
    margin: 0 30px;
  }

  @media (min-width: $max-content-break) {
    margin: 0 auto;
  }
}

.blueRoot {
  background-color: $blue-dark;
  padding-bottom: 70px;
  h1 {
    color: #fff;
  }

  h2 {
    color: $gray-lighter;
  }

  h3 {
    color: $gray-lightish;
  }

  @media print {
    h1 {
      color: $blue-dark;
    }
    h2, h3 {
      color: $gray-dark;
    }
  }
}


h1 {
  margin: 60px 0;
  font-size: 2.2em;
}

em {
  font-weight: 700;
  color: $gray-lightish;
  font-size: 0.9em;
}

h1, h2, h3, h4, h5 {
  color: $blue;
}
