@import "./variables.scss";
@import "./content.scss";

.interestsContainer {
  @extend .blueRoot;

  @media print {
    display: block;
    margin-top: 0px;
  }
}

.interestsTitle {
  // page-break-before: always;
}

.chipList {
  list-style: none;
  color: $blue-dark;

  display: flex;
  flex-wrap: wrap;

  padding: 0;

  @media print {
    display: inline-block;
    text-align: center;
    margin-top: 20px;
  }
}

li.chip {
  flex-grow: 1;
  display: inline-block;

  text-align: center;
  width: 160px;
  border-radius: 20px;
  height: 40px;
  line-height: 40px;

  margin: 10px;
  background-color: rgba(255, 255, 255, 0.48);

  @media print {
    width: 140px;
    border-radius: 15px;
    height: 30px;
    line-height: 30px;

    margin: 2px;

    border: 2px solid $blue;
  }
}
